@charset "utf-8";
/* 默认 黑色 */
/*全站默认字体颜色*/
a{color:#333}a:hover,a:focus,.maincolor,.maincolor a{color:#06c}
.navbar{ background:#25aad6}/*顶部导航*/
.navbar-logo,.navbar-logo-m,.navbar-slogan,.navbar-userbar{color:#fff}/*logo 及 用户信息文字颜色*/
.navbar-logo:hover,.navbar-logo-m:hover{color:#fff;text-decoration: none}

.navbar-nav > ul > li, .navbar-nav > ul > li > a{ color:#fff}/*顶部导航文字颜色*/
.navbar-userbar > ul> > li,.navbar-userbar > ul> > li > a{ color:#fff}

.Hui-aside{
    margin-bottom: 34px;
}/*侧边栏*/
.Hui-aside .menu_dropdown dt{color:#333}/*左侧二级导航菜单*/
.Hui-aside .menu_dropdown dt:hover{color:#148cf1}
.Hui-aside .menu_dropdown dt:hover [class^="icon-"]{ color:#7e8795}
.Hui-aside .menu_dropdown li a{color:#666;border-bottom: 1px solid #e5e5e5}
.Hui-aside .menu_dropdown li a:hover{color:#148cf1;background-color:#fafafa}
.Hui-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{color:#148cf1}
.Hui-aside .menu_dropdown dt .Hui-iconfont{ color:#a0a7b1}
.Hui-aside .menu_dropdown dt .menu_dropdown-arrow{ color:#b6b7b8}
.dislpayArrow a{background:url(icon_arrow.png) no-repeat 0 0}

.Hui-raside{
    margin-bottom: 85px;
    position: absolute;
    top: 95px;
    bottom: 0;
    right: 0;
    padding-top: 10px;
    width: 240px;
    z-index: 99;
    overflow: auto;
    background-color: rgba(238,238,238,1);
    _background-color: rgb(238,238,238);
    border-right: 1px solid #e5e5e5;
}/*字体右侧边栏*/
.Hui-raside .menu_dropdown dt{color:#333}/*左侧二级导航菜单*/
.Hui-raside .menu_dropdown dt:hover{color:#148cf1}
.Hui-raside .menu_dropdown dt:hover [class^="icon-"]{ color:#7e8795}
.Hui-raside .menu_dropdown li a{color:#666;border-bottom: 1px solid #e5e5e5}
.Hui-raside .menu_dropdown li a:hover{color:#148cf1;background-color:#fafafa}
.Hui-raside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{color:#148cf1}
.Hui-raside .menu_dropdown dt .Hui-iconfont{ color:#a0a7b1}
.Hui-raside .menu_dropdown dt .menu_dropdown-arrow{ color:#b6b7b8}
