@charset "utf-8";
#bjColorSelect{
    background: #FFF;
    width: 22px;
    height: 22px;
    position: relative;
    top: 6px;
    display: inline-block;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    border: solid 1px #ddd;
}

#closeZitiTexiao{
    color: #25AAD6;
    border: 1px solid #25AAD6;
    background: #FFF;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    width: 213px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

#closeZitiTexiao:hover{
    background: #25AAD6;
    color: #FFFFFF;
}

#bjColorSelect.bjcolor_xiegang{
    background-image: url('/images/transparent.png') !important;
    background-repeat:no-repeat !important;
    background-position-y: -2px !important;
    background-color:#FFFFFF !important;
}
#bjColorSelectTransparents{
    /*background-image: url(/images/ps-alpha.png);*/
    /*width: 22px;*/
    /*height: 22px;*/
    /*position: relative;*/
    /*top: 6px;*/
    /*display: inline-block;*/
    /*cursor: pointer;*/
    /*transition: all .3s;*/
    /*-webkit-transition: all .3s;*/
    /*border: solid 1px #ddd;*/
}

#bjColorSelectTransparents .demo--radioInput{
    width: 14px;
    height: 14px;
    margin-top: -2px;
}

#bjColorSelectTransparents .demo--radio:checked + .demo--radioInput:after {
    height: 8px;
    margin-left: 0;
    margin-bottom: 1px;
    width: 8px;
}


#shadowFx .layui-form-select dl{
    max-height: 330px;
}
/*字体左侧上传图片*/
#img_parameter .slider-container,#form_parameter .slider-container,#form_parameter .slider-container,#zt_parameter .shuiyin-qita .slider-container{
    margin-right: 57px;
}
#topImgGun{
    width: 0%;
    height: 5px;
    position: absolute;
    top: 13px;
    z-index: 2;
    /*-webit-transition: width 200ms linear;*/
    /*-moz-transition: width 200ms linear;*/
    /*-o-transition: width 200ms linear;*/
    /*-ms-transition: width 200ms linear;*/
    /*transition: width 200ms linear;*/

    /*-webit-transition: width 200ms linear;*/
    /*-moz-transition: width 200ms linear;*/
    /*-o-transition: width 200ms linear;*/
    /*-ms-transition: width 200ms linear;*/
    /*transition: width 200ms linear;*/
    -webkit-animation: progressmove 2s linear infinite;
    -moz-animation: progressmove 2s linear infinite;
    -o-animation: progressmove 2s linear infinite;
    -ms-animation: progressmove 2s linear infinite;
    animation: progressmove 2s linear infinite;

    /*-webkit-transform: translateZ(0);*/
}
#uploader .placeholder{
    position: static;
}
.webuploader-element-invisible{
    position: absolute !important;
    clip: rect(1px,1px,1px,1px);
}
#uploader .placeholder .webuploader-pick {
    font-size: 14px;
    border-radius: 3px;
    *width: 120px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #25AAD6;
    color: #FFFFFF;
    text-align: center;
    margin-left: 9px;
    width: 213px;
    height: 36px;
    line-height: 36px;
}

#uploader .placeholder .webuploader-pick +div {
    position: relative !important;
    top: 0px;
    margin-top: -36px;
    left: 0px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    bottom: auto;
    right: auto;
}

#updateselect ul li{
    margin: 3px;
    width: 70px;
    height: auto;
    text-align: center;
    min-height: 80px;
}
#updateselect ul li div{
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    padding: 1px;
    border: 2px solid rgba(255,255,255,0);
}

#updateselect ul li p.remove-btn {
    position: relative;
    right: -45px;
    top: -68px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    transition: .2s;
    opacity: 0;
    margin-bottom: -22px;
}

#updateselect ul li p.remove-btn i:hover {
    color: red;
    cursor: pointer;
}

#updateselect ul li div:hover{
    border: 2px solid #25AAD6;
    cursor: pointer;
}

#updateselect ul li div:hover+p.remove-btn,#updateselect ul li p.remove-btn:hover{
    opacity: 1;
    transition: .2s;
}


#updateselect ul li img,#updateselect ul li image{
    max-width: 100%;
    max-height: 65px;
}

#updateselect .gundongtiao li p.progress {
    border: 1px solid #1483d8;
    background: #fff;
    text-align: center;
    color: #6dbfff;
    position: relative;
    width: 100%;
    bottom: 0px;
    left: 0;
    height: 5px;
    overflow: hidden;
    z-index: 1000;
}
#updateselect .gundongtiao li p.progress span {
    overflow: hidden;
    height: 100%;
    -webit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    -ms-transition: width 200ms linear;
    transition: width 200ms linear;

    -webkit-animation: progressmove 2s linear infinite;
    -moz-animation: progressmove 2s linear infinite;
    -o-animation: progressmove 2s linear infinite;
    -ms-animation: progressmove 2s linear infinite;
    animation: progressmove 2s linear infinite;

    -webkit-transform: translateZ(0);
}
#updateselect .progress span.percentage {
    left: 0;
    top: 0;
    position: absolute;
}
@-webkit-keyframes progressmove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 17px 0;
    }
}
@-moz-keyframes progressmove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 17px 0;
    }
}
@keyframes progressmove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 17px 0;
    }
}

/*右侧字体切换*/
#ztRight.leftPanel-search-content-type{
    display: flex;
    width: 223px;
    height: 40px;
    /*float: left;*/
    /*width: 50%;*/
}
#ztRight.leftPanel-search-content-type >span {
    flex: 1;
    /*float: left;*/
    /*width: 50%;*/
}

#ztRight.leftPanel-search-content-type .selectTextBlock{

    display: block;
    text-align: center;
    background: #fff;
    line-height: 32px;
    height: 32px;
    font-size: 12px;
    color: #626262;
    border: 1px solid #e7e7e7;
    cursor: pointer;
    transition: all .2s ease;
    /*border-radius: 3px;*/
}
#img_parameter .menu-body .shuiyin-qita ul li .zt-views-input{

    left: 142px;
}
.menu-body .shuiyin-qita ul li .zt-views-input{
    position: relative;
    top: 0px;
    left: 137px;
    width: 30px;
    height: 15px;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
    background: #e0e0e0;
    border: 1px solid #e0e0e0;
    color: #2aabd6;
    z-index: 10;
}


#texiaoLucency .shuiyin-qita ul li>div.slider-container{
    left: 69px;
    top: -20px;
}
#ztBasic .shuiyin-qita ul li>div.slider-container {
    left: 57px;
}

#ztBasic .shuiyin-qita ul li#slider_zt_line_width>div.slider-container,#ztBasic #tcwenliRange ul li .slider-container,#texiaoWenli ul li .slider-container{
    left: 70px;
}

#ztBasic #tcwenliRange ul li .zt-views-input,#texiaoWenli ul li .zt-views-input{
    left: 130px;
}


#ztRight.leftPanel-search-content-type .selectTextBlock.ztRightS1{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#ztRight.leftPanel-search-content-type .selectTextBlock.ztRightS2{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#ztRight.leftPanel-search-content-type .selectTextBlock[class~=active]{
    background: #07aefc;
    color: #fff!important;
    border: 1px solid #07aefc;
}
/* 你自己的样式 */
/*左浮动*/
.fl{
    float: left;
}
.fr{
    float: right;
}
.clear{
    clear: both;
}

/*素材*/
#two_dh .navbar-nav1 > ul > li, #two_dh .navbar-nav1 > ul > li > a{
    display: block;
}
#two_dh .two_dh > ul > li, #two_dh .two_dh > ul > li > a{
    padding: 0 20px;
}
#t.two_dh .iconfont_dh{
    font-size: 20px;
}

#two_dh .two_dh > ul > li.savecolor i{
    font-size: 20px;position: relative;top: 2px;
}
#two_dh .two_dh > ul > li.savecolor span{
    position: relative;top: -1px;
}

#two_dh .two_dh > ul > li.savecolor span.genxin{
    left: 13px;color: #25AAD6;
}

#two_dh .two_dh > ul > li.savecolor span.genxin text{
    margin:0 3px;
}



#two_dh .two_dh > ul > li:hover{
    /*background: #EEEEEE;*/
    color: #25AAD6;
    cursor: pointer;
}

/*模板*/
#mbselect li{
    margin: 2px;
    padding: 1px;
    border: 2px solid #EEEEEE;
    overflow: hidden;
}
#mbselect li:hover{
    border: 2px solid #25AAD6;
    cursor: pointer;
}
#mbselect li img{
    width: 100%;
    height: 100%;
    min-height: 106px;
}

#scselect p,#mbselect p{
    text-align: center;
    margin-top: -3px;
}
#scselect li{
    /*margin: 5px;*/
}
#scselect .scload{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    color:#929292;
    font-size: 10px;
    background: #E8E8E8;
}
#scselect .scload img{
    width: 25px;
    height: 25px;
}

#scselect li:hover{
    cursor: pointer;
    color: #25AAD6;
}
.gundongtiaosc {
    max-height: 600px;
    overflow-y: auto;
}

#scselect image:hover{
    padding: 2px 0;
}

#fhsc .fhsc{
    margin-left: 4px;
    width: 207px;
    padding: 5px;
    background: #CCCCCC;
    /*position: fixed;*/

}
#gundongtiaoUl .fhsc{
    margin-left: 4px;
    width: 202px;
    padding: 5px;
    background: #CCCCCC;
    /*position: fixed;*/

}

#fhsc .fhsc text,#gundongtiaoUl .fhsc text{
    margin-left: 5px;
}
#fhsc .fhsc:hover,#gundongtiaoUl .fhsc:hover{
    cursor: pointer;
    color: #FFFFFF;
    background: #25AAD6;
}
#fhsc img{
    width: 67px;
    height: 67px;
    background: #e8e8e8;
    margin: 0 4px;
}
.scload{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    color: #929292;
    font-size: 10px;
}
.scload img{
    width: 20px;
}


.fhbt{
    margin: 5px 0 5px 9px;
}


.fhbt .scbt{
    display: inline-block;
    width: 66px;
    padding: 5px 1px;
    font-size: 12px;
    background: #FFFFFF;
    color: #000000;
    margin: 2px 0px;
    text-align: center;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
}
#scselect #fhsc{
    padding: 3px 4px;
}
#scselect #fhsc .fhbt .scbt{
    margin: 2px 2px;
}

#mbselect #gundongtiaoUl .fhbt .scbt{
    margin: 2px 1px;
}

.fhbt .activesc{
    background: #25AAD6;
    color: #FFFFFF;
}

.fhbt .scbt:hover{
    cursor: pointer;
    color: #25AAD6;
    border: 1px solid #25AAD6;
}

/*左侧字体形状分类*/
.formzt_title{
    clear: both;
    font-size: 12px;
    color: #7f7e7e;
    margin: 0 10px;
}
.formzt_title_top{
    width: 100%;
    display: flex;
}
.formzt_title_line{
    flex: 1;
    position: relative;
    left: 0;
    right: 0;
    top: 8px;
    border-top: 1px solid #dedbdb;
}
.formxz_img{
    width: 47px;
    height: 47px;
    background: #FFFFFF;
}

.xz_bj_li{
    margin: 5px 0;
}

#formxzStyle dd{
    display: block;
}
/* 图片处理 菜单样式 start */
.menu_dropdown div.menu-body-zt {
    background: #fff;
    padding: 0 10px;
    max-height: 100%;
    overflow-y: auto
}

/*左侧字体图片样式*/
.zt_img{
    width: 103px;
}

.new_zt_li{
    margin: 0px 2px;
}
.new_img_li{
    margin-left: -2px;
    border: 2px solid #FFFFFF;
}

.zt_li{
    margin: 5px 1px;
}
.img_li{
    padding: 1px;
    border: 2px solid #EEEEEE;
}

.tx_zt_img{
    width: 100%;
    object-fit: cover;
    height: 75px;
}
/*鼠标移入图片出现选中框*/
.img_li:hover{
    border: 2px solid #75BED7;
    cursor:pointer;
}
.new_img_li:hover{
    border: 2px solid #75BED7;
    cursor:pointer;
}

/*左侧背景图片样式*/
.bj_img{
    height: 100px;
    width: 100px;
    background: #FFF;
}
.bj_li{
    margin: 5px 2px;
}

/*选中图片时样式*/
.active{
    border: 2px solid #25AAD6;
}

/*字体分类样式*/
.class_zt{
    margin: 0 5px 5px 0;
    /*background-color: #e1e0d0;*/
}

/*选择框*/
#ztselect #ztClick li a,#formxz li a{
    float: left;
    display: block;
    text-align: center;
    background: #fff;
    line-height: 32px;
    height: 32px;
    font-size: 12px;
    color: #626262;
    border: 1px solid #e7e7e7;
    cursor: pointer;
    transition: all .2s ease;
    border-radius: 3px;
    padding: 0 9px;
}
#formxz li a:hover{
    color: #25AAD6;
    border: 1px solid #25AAD6;
}
#ztselect #ztClick li a:hover{
    color: #25AAD6;
    border: 1px solid #25AAD6;
}

#ztselect #ztClick .activezt,#formxz .activezt{
    color: #fff!important;
    background-color: #25AAD6;
}
/*end*/
.class_zt a{
    padding-right: 6px;
}
.Hui-aside .menu_dropdown li activezt{
    color: #FFF;
}


/*字体右侧参数导航栏*/
.zt_span{
    height: 40px;
    line-height: 40px;
}
.layui-inline-zt{
    display: flex;
    width: 240px;
    padding: 5px 0;
}
.layui-form-label-zt{
    width: 35%;
    padding: 5px 0;
    margin-left: -3px;
}
.layui-form-div{
    width: 63%;
}

.layui-form-input{
    height: 32px;
    line-height: 32px;
}

/*颜色选择器*/

.ColorSelect{
    width: 30px;
    height: 30px;
    margin-top: -3px;
    margin-left: 10px;
}
.colorpicker{
    z-index: 9999;
}
.colorSelector{
    position:relative;
    width:36px;
    height:36px;
    margin-top: -6px;
}
.colorSelector:hover{
    cursor:pointer;
}

.colorSelector div{
    position:absolute;
    top:6px;
    left:6px;
    width:24px;
    height:24px;
    margin-top: 3px;
    border: 1px solid #8b8b8f;
}
.layui-color{
    display: flex;
}

.layui-color-input{
    width: 80%;
}

/*颜色拉杆*/
.left_li_gd .pointer-label,#slider_zt_line_width .pointer-label,#slider-direction .pointer-label,#slider-spaceval .pointer-label, #slider-clarity .pointer-label,#slider-gspace .pointer-label{
    display:none;
}

/*颜色拉杆*/
#slider-spaceval, #slider-clarity,#slider-gspace{

}

#img_parameter .left_li_gd div,#slider_zt_line_width div,#slider-direction div,#slider-spaceval div, #slider-clarity div,#slider-gspace div,#slider-lucency div{
    margin-top: 4px;
}

#slider_zt_line_width div.selected-bar, #slider_zt_line_width div.pointer,#img_parameter .left_li_gd div.selected-bar,#img_parameter .left_li_gd div.pointer, #slider-clarity div.selected-bar, #slider-clarity div.pointer, #slider-direction div.selected-bar, #slider-direction div.pointer, #slider-spaceval div.selected-bar, #slider-spaceval div.pointer, #slider-gspace div.selected-bar, #slider-gspace div.pointer, #slider-lucency div.selected-bar, #slider-lucency div.pointer{
    margin-top: 0px;
}

.div_sp{
    margin-bottom: 8px;
}
.left_li_span{
    display: inline-block;
    width:45.88px;
    main-width: 45.88px;
}

.left_li_gd{
    padding-top: 5px;
}

.zt_view_input{
    position: relative;
    top: -18px;
    left: 91px;
    width: 35px;
    height: 15px;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
    background: #e0e0e0;
    border: 1px solid #e0e0e0;
    color: #2aabd6;
}



.demo--label{display:inline-block;margin-left:10px;}
.demo--label:hover{
    cursor:pointer;
}
.demo--radio{display:none}
.demo--radioInput{background-color:#fff;border:2px solid rgba(0,0,0,0.15);border-radius:100%;display:inline-block;height:12px;margin-left:5px;margin-right:10px;margin-top:-1px;vertical-align:middle;width:12px;line-height:1}
.demo--radio:checked + .demo--radioInput:after{
    background-color:#5FB878;
    border-radius:100%;
    content:"";display:
        inline-block;
    height:6px;
    margin-left:3px;margin-bottom:3px;width:6px}
.demo--checkbox.demo--radioInput,.demo--radio:checked + .demo--checkbox.demo--radioInput:after{border-radius:0}
.demo--radio:checked + .demo--radioInput{border:2px solid #5FB878;}

.demo--radio:checked + .demo--radioInputs:after{margin-left:0px;}


.selectbcolor{
    margin: 1px 0;
    width: 116px;
    height: 36px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

#tcwenli input,#bjwenli input,#ztsize input{
    height: 32px;
}

/*加粗按钮选中*/
.menu-body .img-xz li{
    border-radius: 4px;
}
.menu-body .img-xz .ico_active{
    background:#CCCCCC;
}
#from_type input{
    background-size: 80% auto;
    background-repeat: no-repeat;
}

/*底部操作框*/
.elementBottomHandle{
    position: fixed;
    bottom: 0px;
    background: #EEEEEE;
    margin-left: -13px;
    z-index: 5;
}

.elementBottomHandle .layersWrap {
    -ms-flex-direction: column;
    -ms-flex-pack: justify;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: justify;
    background: #EEEEEE;
    -webkit-box-shadow: 0 2px 6px 2px #d0d0d0;
    box-shadow: 0 2px 6px 2px #d0d0d0;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: space-between;
    left: 10px;
    position: absolute;
    width: 70px;
    bottom: 46px;
    z-index: 10;
}

.elementBottomHandle .layersWrap .layersWrapBtn {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.elementBottomHandle .layersWrap .layersWrapBtn:hover {
    cursor: pointer;
    background: #FFF;
    color: #25AAD6;
}


.elementBottomHandle .layersWrap .layerSlideBar {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

.elementBottomHandle .layersWrap .SlideBarVertical {
    height: 120px;
    margin: 10px auto;
    position: relative;
    width: 4px;
}

.elementBottomHandle .layersWrap .SlideBarVertical .slideBarButtonBar {
    background: #76fabc;
    border-radius: 1px;
    bottom: 0;
    height: 20px;
    position: absolute;
    width: inherit;
    cursor: pointer;
}

.elementBottomHandle .layersWrap .SlideBarVertical .slideBarButton {
    -webkit-box-shadow: 0 1px 3px 1px rgba(231,231,231,.3);
    /*background: #ff787e;*/
    border-radius: 50%;
    border: 1px solid #AAA;
    background-color: #e7e7e7;
    bottom: 0;
    box-shadow: 0 1px 3px 1px rgba(231,231,231,.3);
    cursor: pointer;
    height: 13px;
    left: -5.5px;
    position: absolute;
    width: 13px;
}

.elementBottomHandle .layersWrap .SlideBarVertical .slideBarMask {
    background: rgb(216, 216, 216);;
    border-radius: 1px;
    height: inherit;
    width: inherit;
    cursor: pointer;
}

.elementBottomHandle .layersWrap .layersWrapBtn {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}


/*分页*/
#ptfy .pagination > li > a, .pagination > li > span {
    color: #656463;
}
#ptfy .pagination > li {
    display: inline;
    height: 0px;
    width: 0px;
    line-height: 0px;
}

#ptfy .pagination {
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}



#ptfy > .pagination > .activef > a:hover, #ptfy > .pagination > .activef > span:hover,#ptfy > .pagination > .activef > a:focus, #ptfy > .pagination > .activef > span:focus {
    /*background-color: #b1b1b1;*/
    /*border-color: #b1b1b1;*/
    background-color: #25aad6;
    color: #FFFFFF;
}

#ptfy .pagination > .activef > a{
    background-color: #25aad6;
    color: #FFFFFF;
}

#ptfy{
    position: fixed;
    bottom: 0px;
    width: 235px;
    margin-left: 3px;
}
#ptfy .pagination > li > a:hover, .pagination > li > span:hover {
    background-color: #FFF;
    color: #25aad6;
}


#ptfy .pagination > li > a, .pagination > li > span {
    position: relative;
    display: inline-block;
    padding: 2px 0;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    margin-bottom: 4px;
    width: 24px;
}

#ptfy .ymspan{
    border: none;
    margin-left: 10px;
    background-color: #EEEEEE;
}
/*分页end*/
#zt_parameter .btn_true {
    position: relative;
    display: block;
    bottom: 0;
    left: 68%;
    font-size: 12px;
    padding: 6px;
    cursor: pointer;
    margin: 4px 0px 10px 0;
    color:#25AAD6;
    border: 1px solid #25AAD6;

}
/*滤镜*/
.filter_div{
    text-align: center;
    overflow-y: auto;
    margin-top: 20px;
}
.filter_div_image{
    display: inline-block;
    width: 70px;
    margin-left: 2px;
    cursor: pointer;
    transition: .2s;
    margin-bottom: 10px;
}
.filter_div_image svg{
    border:2px solid #FFF;
}

.filter_div_image svg:hover{
    border:2px solid #25AAD6;
}

.filter_div_image .filter_image{
    width: 70px;
    height: 70px;
}

.filter_div_image .filter_text{
    text-align: center;
    font-size: 12px;
    color: #444;
    padding: 3px;
}
.deleteMb{
    position: relative;
    width: 30px;
    font-size: 12px;
    top: -100px;
    left: 173px;
    text-align: center;
    background: #a0a0a0;
    padding: 0 10px;
    margin-bottom: -32px;
    z-index: 9999;
}

.deleteMb:hover{
    cursor: pointer;
    color: red;
}

/*右侧多选选项卡*/
.add-page-btn-top{
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 39px;
    line-height: 40px;
    text-align: center;
    background-color: #FFF;
    color: #fff;
    cursor: pointer;
    pointer-events: auto;
    transition: .2s;
    border-bottom: 1px solid #e0e0e0;
}
.add-page-btn-top .page-switch{
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.add-page-btn-top .page-switch .page-icon{
    width: 22px;
    height: 22px;
    margin: 10px 0 0 15px;
    float: left;
    background: url(/v2/images/yemian.svg) no-repeat 2px 2px;
}
.add-page-btn-top .page-switch .text{
    font-size: 12px;
    color: #626262;
    line-height: 40px;
    margin-left: 6px;
    float: left;
}

.t-page-tool{
    position: fixed;
    right: 240px;
    top: 112px;
    bottom: 0;
    width: 100px;
    pointer-events: none;
    z-index: 9999999;
    border-right: 1px solid #e0e0e0;
    box-shadow: -1px 0 1px rgba(0,0,0,.1);
}
.t-page-tool .page-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 40px;
    pointer-events: none;
    background-color: #FFF;
    pointer-events: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}
.t-page-tool .page-list .page-item {
    position: absolute;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    margin: 8px;
    box-sizing: border-box;
    cursor: pointer;
    transition: .2s;
    pointer-events: auto;
}

.t-page-tool .page-list .page-item .page-option .item .confirm-tip {
    display: none;
    opacity: 0;
    font-size: 12px;
    margin-left: 3px;
    position: relative;
    top: -1px;
    pointer-events: none;
}
.t-page-tool .page-list .page-item .page-option .item.confirm {
    width: 78px;
    background-color: #e74c3c;
    color: #fff;
}

.t-page-tool .page-list .page-item .page-option .item.confirm .confirm-tip {
    display: inline;
    opacity: 1;
}


.t-page-tool .page-list .page-item .page-option:hover {
    opacity: 1;
    transition: .1s;
}
.t-page-tool .page-list .page-item .page-option .item:hover {
    color: #25AAD6;
}

.t-page-tool .page-list .page-item .page-option .item.confirm:hover {
    color: #fff;
}

.t-page-tool .page-list .page-item:hover > .thumb-wrap .editing span{
    opacity: 0;
}





.t-page-tool .page-list .page-item .page-option {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .1s;
    z-index: 100;
}

.t-page-tool .page-list .page-item .thumb-wrap .editing {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,148,235,.85);
    color: #fff;
    pointer-events: none;
    font-size: 12px;
    display: none;
}

.t-page-tool .page-list .page-item.active .thumb-wrap .editing {
    display: block;
}


.t-page-tool .page-list .page-item .thumb-wrap .editing span {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: .2s;
}

.t-page-tool .page-list .page-item .page-option .item {
    position: absolute;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #828282;
    margin: 2px;
    transition: .2s;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.t-page-tool .page-list .page-item .handleimging {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 50px;
    line-height: 44px;
    margin: auto;
}

.t-page-tool .page-list .page-item .handleimging img {
    width: 100%;
}


.t-page-tool .page-list .page-item .page-option .left {
    left: 0;
    top: 0;
}

.t-page-tool .page-list .page-item .page-option .right {
    right: 0;
    top: 0;
}

.t-page-tool .page-list .page-item .thumb-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
    background-color: #fff;
}
.t-page-tool .page-list .page-item .thumb-wrap .thumb {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.t-page-tool .page-list .page-item .thumb-wrap .thumb img {
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.t-page-tool .page-list .page-item .thumb-wrap .index {
    position: absolute;
    left: -5px;
    bottom: -5px;
    background: #fff;
    color: #6a6a6a;
    border-radius: 50%;
    padding: 3px;
    width: 15px;
    height: 15px;
    line-height: 13px;
    text-align: center;
    font-size: 12px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    font-family: Arial;
}
.t-page-tool img {
    vertical-align: middle;
    border-style: none;
}

.t-page-tool .add-page-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 39px;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    background-color: #FFF;
    color: #fff;
    cursor: pointer;
    pointer-events: auto;
    transition: .2s;
}

.t-page-tool .add-page-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 39px;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    background-color: #FFF;
    color: #fff;
    cursor: pointer;
    pointer-events: auto;
    transition: .2s;
}

.t-page-tool .add-page-btn .page-add {
    width: 100px;
    height: 40px;
    background: #fff;
    text-align: center;
}


.t-page-tool .add-page-btn .add-btn {
    width: 80px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    background: url(/v2/images/wide_btn_add_btn.svg) no-repeat 0 0;
}
.t-page-tool .add-page-btn .add-btn-s {
    border: 1px dashed #9B9B9B;
    color: #9B9B9B;
    height: 30px;
    line-height: 30px;
    width: 88px;
    text-align: center;
    margin: auto;
    font-size: 14px;
    margin-top: 3px;
}

.t-page-tool .add-page-btn .add-btn-s span{
    font-size: 12px;
}

.t-page-tool .add-page-btn .add-btn-s:hover {
    border: 1px dashed #25AAD6;
    color: #25AAD6;
}


/*常用操作窗口*/
#changYongCaoZuo{
    position: absolute;
    right: 0;
    top: 0;
}

#two_dh>#changYongCaoZuo >ul>li{
    padding: 0 7px;
    cursor: pointer;
}

#two_dh>#changYongCaoZuo >ul>li{
    padding: 0 7px;
}

#changYongCaoZuo>ul>li input{
    border: 1px solid #dbdbdb;
    padding: 3px 5px;
    width: 40px;
}


/*頂部透明度*/
.tool-opacity-child{
    position: absolute;
    left: -130px;
    top: 60px;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    z-index: 100;
    background-color: #FFFFFF;
}
.tool-opacity-child:before {
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: -12px;
    left: 144px;
}

.tool-opacity-child .slider {
    position: relative;
    width: 300px;
    height: 40px;
    background: #fff;
    z-index: 1;
    cursor: default;
}
.tool-opacity-child .slider-label {
    position: absolute;
    left: 16px;
    line-height: 40px;
}

.tool-opacity-child .slider-area {
    position: absolute;
    left: 67px;
    width: 160px;
    height: 40px;
}

.slider-area .slider-back:before {
    content: "";
    position: absolute;
    left: -160px;
    top: -7px;
    height: 16px;
    width: 160px;
}

.tool-opacity-child .slider-area .slider-back {
    position: absolute;
    top: 22px;
    width: 0;
    height: 0;
    border-left: 160px solid transparent;
    border-bottom: 5px solid #515151;
    cursor: pointer;
}

.tool-opacity-child .slider-area .slider-block:before {
    position: absolute;
    left: -11px;
    bottom: 11px;
    content: attr(data-value);
    width: 24px;
    text-align: center;
    font-size: 14px;
}

.tool-opacity-child .slider-area .slider-block {
    position: absolute;
    top: 18px;
    left: 72px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #515151;
    cursor: pointer;
}

#top-tmdg.tool-opacity-child .slider-input {
    position: absolute;
    top: 4px;
    right: 10px;
    width: 40px;
    height: 30px;
    border: 1px solid #e6e6e6;
    background-color: #f4f4f4;
    padding: 0 0 0 10px;
    font-size: 14px;
}

/*顶部图层*/
.tool-sort-child {
    position: absolute;
    z-index: 999;
    top: 60px;
    width: 150px;
    left: -30px;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.tool-sort-child:before {
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: -12px;
    left: 46px;
}

.tool-sort-child li {
    width: 100%;
    height: 34px;
    line-height: 34px;
    background-color: #fff;
    transition: .5s ease;
    text-align: left;
}
.tool-sort-child li:hover{
    background-color: #D8D8D8;
}
.cant-use span {
    opacity: .3;
}
.tool-sort-child li .text {
    padding-left: 10px;
    line-height: 2.5em;
}
.cant-use {
    cursor: default;
}

/*顶部翻转*/
.tool-reverse-child {
    position: absolute;
    z-index: 1;
    top: 60px;
    left: -30px;
    width: 104px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.tool-reverse-child:before {
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: -12px;
    left: 46px;
}

.tool-reverse-child li {
    width: 100%;
    height: 35px;
}
.tool-reverse-child li:hover {
    background-color: #D8D8D8;
}

.tool-reverse-child .tool-bar-tb {
    background-position-x: -118px;
}

.tool-reverse-child .text {
    line-height: 2.5em;
    float: left;
}



.tool-reverse-child li .icon {
    width: 20px;
    height: 20px;
    margin: 5px 5px 0 10px;
    float: left;
}

#tool-bar-reverse-wrap .tool-bar-lr .icon {
    background: url(/v2/images/top-rotate.svg) no-repeat 2px 4px;
    background-size: 16px;
}

#tool-bar-reverse-wrap .tool-bar-tb .icon {
    background: url(/v2/images/right-rotate.svg) no-repeat 2px 4px;
    background-size: 16px;
}

/*素材搜索框*/
#scselect .search-bar-s,#mbselect .search-bar-s{
    display: flex;
    margin: 0px 5px 10px 10px;
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    padding: 8px;
    width: 84%
}

#mbselect .search-bar-s input,#scselect .search-bar-s input{
    flex: 1;
    touch-action: manipulation;
    -webkit-appearance: none;
    overflow: visible;
    background: 0 0;
    border: none;
    -webkit-appearance: none;
    outline: 0!important;
    line-height: normal;
    font-size: 14px;
}
#scselect .search-bar-s i,#mbselect .search-bar-s i{
    font-size: 18px;
    color: #c8c8c8;
    cursor: pointer;
    transition: .2s;
}

#scselect .search-bar-s i:hover,#scselect .search-bar-s i:hover {
    color: #0083e9
}

#mbselect li img.class_img{
    height: 100px;
    width: 100px;
    background: #FFF;
    min-height: 100px;
}

/*浏览器版本提示*/
#browser-version-show{
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    z-index: 120;
    background:rgba(68,74,84,.9);
    color: #FFFFFF;
    text-align: center;
    height: 53px;
    line-height: 53px;
    font-size: 14px;
    display: none;
}
#browser-version-show div{
    min-width: 600px;
}

#browser-version-show a{
    background-color: #25AAD6;
    transition: .2s;
    border-radius: 3px;
    color: #fff;
    padding: 6px 15px;
    margin-left: 10px;
    border: 1px solid #25AAD6;
    cursor: pointer;
    margin-top: -3px;
}

#browser-version-show a:hover{
    background-color: #FFFFFF;
    transition: .2s;
    color: #25AAD6;
}

.layui-form-select dl dd, .layui-form-select dl dt{
    background-size: cover;
    background-position: center center;
}

/*图片容器*/
#img_parameter #style_jichu li{
    margin-right: 2px;
}
#img_parameter .rongqi-title{
    width: 100%;
    text-align: left;
}
#img_parameter #rongqiHandle{
    margin-top: -10px;
}
#img_parameter .rongqi-divs{
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}
.layui-form-div-close{
    color: #25AAD6;
    border: 1px solid #25AAD6;
    background: #FFF;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    width: 213px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#rongqiHandle .menu-body .shuiyin-qita ul li .zt-views-input{
    left: 126px;
}

#ztBasic #rongqiHandle .shuiyin-qita ul li>div.slider-container {
    left: 67px;
}

#rongqiScroll .scload{
    clear: both;
}
#rongqiScroll .scload img{
    margin-left: auto;
    margin-right: auto;
}

/*图片处理展开*/
#img_parameter #unfold dt{
    display: block;
    line-height: 35px;
    padding-left: 10px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #f1f1f1;
    font-weight: normal;
    color: #333;
    background-color: #e2e2e2;
    text-align: left;

}
#img_parameter #unfold dt i {
    color: #a0a7b1;
}

#img_parameter #unfold dt .dropdown-arrow {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 15px;
    transition-duration: 0.3s;
    transition-property: all;
}

#img_parameter #unfold dt.selected .dropdown-arrow {
    transform: rotate(180deg);
}
#img_parameter #unfold dt.selected {
    color: #25AAD6;
}
#img_parameter #unfold dt.selected i {
    color: #25AAD6;
}

#img_parameter #unfold dd#dd-unfold{
    height: auto;
    display: none;
    overflow-y: hidden;
    text-align: left;
}

#changYongCaoZuo #tool-bar-shadow {
    line-height: normal;
    padding: 0 10px 0 3px;
}


#changYongCaoZuo #tool-bar-shadow .menu-body .shuiyin-qita ul li {
    font-size: 15px;
    margin-left: 13px;
}

#changYongCaoZuo #tool-bar-shadow .shuiyin-qita ul li>div.slider-container {
    left: 57px;
}

#changYongCaoZuo #tool-bar-shadow ul>li input {
    width: 20px;
}

#changYongCaoZuo #tool-bar-shadow .split {
    position: relative;
    margin: 3px 0;
}

#changYongCaoZuo #tool-bar-shadow .split::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -1.5px;
    height: 3px;
    background-color: #f4f4f4;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

#changYongCaoZuo #tool-bar-shadow .layui-form-switch{
    margin-top: 2px;
}

#changYongCaoZuo #switch-shadow .layui-form-item{
    margin-top: 10px;
    margin-bottom: 8px;
}
#changYongCaoZuo #switch-shadow .layui-form-label-zt{
    width: 50%;
}

#changYongCaoZuo #switch-shadow .xuanxiang{
    width: 50%;
    text-align: right;
    margin-right: 8px;
}

#changYongCaoZuo #switch-shadow .layui-form-onswitch {
    border-color: #25aad6;
    background-color: #25aad6;
}

#zt_img_border_style ul {
    display: inline-block;
    padding: 12px 12px 0 7px;
}
#zt_img_border_style ul:hover {
    cursor: pointer;
}

#zt_img_border_style {
    clear: both;
}
#zt_img_border_style ul li {
    width: 66px;
    height: 66px;
    background: #efefef;
}

#img_parameter #zt_black_bj_color .clickable-dummy{
    background-image:url('/v2/images/rgb.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}
#img_parameter #zt_red_bj_color .clickable-dummy{
    background-image:url('/v2/images/red.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}

#img_parameter #zt_green_bj_color .clickable-dummy{
    background-image:url('/v2/images/green.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}
#img_parameter #zt_blue_bj_color .clickable-dummy{
    background-image:url('/v2/images/blue.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}

#img_parameter .menu-body .shuiyin-qita ul li p.zt-views-input{
    top: -23px;
    left: 182px;
    color: #333;
    border: none;
    background-color: rgba(0,0,0,0);
    font-size: 14px;
}

#ztBasic #img_parameter .shuiyin-qita ul li.ztimgcolorImgs>div.slider-container{
    margin-top: -17px;
    left: 30px;
}
#img_parameter #closeColorZtImgDiv{
    display: none;
}
#img_parameter #closeColorZtImg{
    margin-left:0px;
}
#ztwenben ul li a{
    border: 1px solid #25AAD6;
    border-radius: 4px;
    text-align: center;
    color: #25AAD6;
}
#ztwenben ul li#wenzi_fbt{
    margin: 10px 0;
}

#ztwenben ul li a:hover{
    background-color: #25AAD6;
    color: #FFFFFF;
}
